{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>  
{% endblock %}

{% block content %}
<div class="neutral-bg"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center">Your Purchase Total</h2>
            <hr>
        </div>
    </div>
    <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded-0">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Products Selected</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded-0" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="py-2">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="py-2">
                                        <p class="my-0">€{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-2 w-25">
                                    <form class="update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                    {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                <button class="decrement-qty btn paw-color rounded-0"
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                <i class="fas fa-minus text-white"></i>
                                                </span>
                                                </button>
                                                </div>
                                                <input type="number" class="form-control qty_input"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="80"
                                                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                <button class="increment-qty btn paw-color rounded-0"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                <i class="fas fa-plus text-white"></i>
                                                </span>
                                                </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link paw-text">Update</a>
                                    <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" href=""><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                    <td class="py-2">
                                        <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_trim_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free trim by spending just <strong>€{{ free_trim_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Go back</span>
                                    </a>
                                    <a href="" class="btn paw-color rounded-0 btn-lg">
                                        <span class="text-uppercase text-white">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock text-white"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
        {% else %}
        <p class="lead mb-5">You haven't bought anything yet!</p>
        <a href="{% url 'products' %}" class="btn paw-color rounded-0 btn-sm">
        <span class="icon">
        <i class="fas fa-chevron-left text-white"></i>
        </span>
        <span class="text-uppercase text-white">Go Back</span>
        </a>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}