{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center">
                <hr class="w-50 mb-1">
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}

<div class="container ml-8 success-bg">
    <div class="row">
        <div class="col mt-3">
            <br />
            <h2 class="logo-font mb-4 text-center paw-text">Thanks for your purchase!</h2>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-12 order-lg-last mb-5">
            <div class="row">
                <div class="col-12">
                    <p class="mb-1 mt-0 paw-text text-center">Your order will be process and we will send an email to <strong>{{ order.email }}</strong></p>
                </div>
            </div>
    </div>
    <div class="row ml-3">
        <div class="col-12 col-md-4">
                <p class="mb-0 paw-text font-weight-bold">Order Number</p>
        </div>
        <div class="col-12 col-md-4">
                <p class="small mb-0">{{ order.order_number }}</p>
        </div>
    </div>
    <div class="row ml-3">
        <div class="col-12 col-md-4">
                <p class="mb-0 paw-text font-weight-bold">Order Date</p>
        </div>
        <div class="col-12 col-md-4">
                <p class="mb-0">{{ order.date }}</p>
        </div>
    </div>
    <div class="row ml-3">
        <div class="col-12 col-lg-7">
            <div class="row">
                <div class="col paw-text">Order Details</div>
            </div>
        </div>
    </div>
    {% for item in order.lineitems.all %}
    <div class="row">
        <div class="col-12 col-md-4">
                <p class="small mb-0 paw-text font-weight-bold">{{ item.product.name }}</p>
        </div>
        <div class="col-12 col-md-4">
                <p class="small mb-0">{{ item.quantity }} @ ${{ item.product.price }} each</p>
        </div>
    </div>
    {% endfor %}
    <div class="row ml-3">
        <div class="col-12 col-lg-7">
            <div class="row">
                <div class="col paw-text">Deliverying to</div>
            </div>
        </div>
    </div>
    <div class="row ml-3">
        <div class="col-12 col-md-4">
                <p class="small mb-0 paw-text font-weight-bold">Full Name</p>
        </div>
        <div class="col-12 col-md-4">
                <p class="mb-0">{{ order.full_name }}</p>
        </div>
    </div>
    <div class="row ml-3">
        <div class="col-12 col-md-4">
                <p class="small mb-0 paw-text font-weight-bold">Email</p>
        </div>
        <div class="col-12 col-md-4">
                <p class="mb-0">{{ order.email }}</p>
        </div>
    </div>
    <div class="row ml-3">
        <div class="col-12 col-md-4">
                <p class="small mb-0 paw-text font-weight-bold">Phone</p>
        </div>
        <div class="col-12 col-md-4">
                <p class="mb-0">{{ order.phone_number }}</p>
        </div>
    </div>
    <div class="row ml-3">
        <div class="col-12 col-md-4">
                <p class="small mb-0 paw-text font-weight-bold">Address</p>
        </div>
        <div class="col-12 col-md-4">
                <p class="mb-0">{{ order.street_address1 }}</p>
        </div>
    </div>
    <div class="row ml-3">
        <div class="col-12 col-md-4">
                <p class="small mb-0 paw-text font-weight-bold">Address 2</p>
        </div>
        <div class="col-12 col-md-4">
                <p class="mb-0">{{ order.street_address2 }}</p>
        </div>
    </div>
    <div class="row ml-3">
        <div class="col-12 col-md-4">
                <p class="small mb-0 paw-text font-weight-bold">Country</p>
        </div>
        <div class="col-12 col-md-4">
                <p class="mb-0">{{ order.country }}</p>
        </div>
    </div>
    <div class="row ml-3">
        <div class="col-12 col-md-4">
                <p class="small mb-0 paw-text font-weight-bold">Postcode</p>
        </div>
        <div class="col-12 col-md-4">
                <p class="mb-0">{{ order.postcode }}</p>
        </div>
    </div>
    <div class="row ml-3">
        <div class="col-12 col-md-4">
                <p class="small mb-0 paw-text font-weight-bold">County</p>
        </div>
        <div class="col-12 col-md-4">
                <p class="mb-0">{{ order.county }}</p>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-sm-4 col-lg-8 float-left">
        <a href="{% url 'products' %}?category=offers" class="btn paw-color rounded-0 my-2 text-white">
        <span class="icon mr-2"><i class="fas fa-tag"></i></span>
        <span class="text-upercase text-white">The Paw Society Offers & Sales</span>
        </a>
        </div>
    </div>
{% endblock %}