{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>  
{% endblock %}

{% block content %}
<div class="neutral-bg"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center">Please fill up the fom below</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4">
            <p class="paw-text">Complete your order:</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
            {% csrf_token %}
            <fieldset class="rounded-0 px-3 mb-5">
                <legend class="fieldset-label small paw-text px-2 w-auto">Your Details</legend>
                {{ order_form.full_name | as_crispy_field }}
                {{ order_form.email | as_crispy_field }}
            </fieldset>
            <fieldset class="rounded-0 px-3 mb-5">
                <legend class="fieldset-label small paw-text px-2 w-auto">Delivery</legend>
                {{ order_form.phone_number | as_crispy_field }}
                {{ order_form.country | as_crispy_field }}
                {{ order_form.post_code | as_crispy_field }}
                {{ order_form.town_or_city | as_crispy_field }}
                {{ order_form.street_address1 | as_crispy_field }}
                {{ order_form.street_address2 | as_crispy_field }}
                {{ order_form.county | as_crispy_field }}
                <div class="form-check form-check-inline float-right mr-0">
                    {% if user.is_authenticated %}
                        <label for="id-save-info" class="form-check-label">Save on my Paw Profile <i class="fas fa-paw"></i></label>
                        <input type="checkbox" class="form-check-input ml-2 mr-0" id="id-save-info" name="save-info" checked>
                    {% else %}
                        <label for="id-save-info" class="form-check-label">
                        <a href="{% url 'account_signup' %}" class="text-info">Create your Paw Profile</a> or
                        <a href="{% url 'account_login' %}" class="text-info">Log in to save it</a>
                        </label>
                        
                </div>
            </fieldset>
            <fieldset class="px-3">
            <legend class="fieldset-label small paw-text px-2 w-auto">Payment</legend>
            <!-- STRIPE -->
            <div class="mb-3" id="card-element"></div>
            <!-- Form Errors -->
            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
            </fieldset>
            <div class="submit-button text-right mt-5 mb-2">
                <a href="" class="btn shop-now-button rounded-0">
                <span class="icon"><i class="fas fa-chevron-left"></i></span>
                <span class="text-white font-weight-bold">Change your order</span>
                </a>
                <button id="submit-button" class="btn paw-color rounded-0">
                <span class="font-weight-bold text-white">Paw now!</span>
                <span class="icon"><i class="fas fa-lock"></i></span>
                </button>
                <p class="small text-danger my-0">
                <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                <span>You will be charge <strong>€{{ grand_total | floatformat:2 }}</strong></span>
                </p>
            </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}

