<div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="all-services" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-services">
                <a href="#grooming" class="dropdown-item">Grooming</a>
                <a href="#walking" class="dropdown-item">Walking</a>
                <a href="#training" class="dropdown-item">Training</a>
                <a href="#shop-offers" class="dropdown-item">Shop & Offers</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="grooming" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Grooming
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="grooming">
                <a href="" class="dropdown-item">Small Dog</a>
                <a href="" class="dropdown-item">Big Dog</a>
                <a href="" class="dropdown-item">Quick trim from €{{ free_shipping_treshold }}</a>
                <a href="" class="dropdown-item">Offers</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="walking" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Walking
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="walking">
                <a href="" class="dropdown-item">Walkings rate per hour</a>
                <a href="" class="dropdown-item">Day Care</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="training" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Training
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="training">
                <a href="" class="dropdown-item">Weekend Workshops</a>
                <a href="" class="dropdown-item">Day Training</a>
                <a href="" class="dropdown-item">Therapy & Training</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="shop-offers" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Shop & Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-offers">
                <a href="" class="dropdown-item">Toys</a>
                <a href="" class="dropdown-item">Food Treats</a>
                <a href="" class="dropdown-item">Hygiene</a>
                <a href="" class="dropdown-item">The Paw Clothing</a>
                <a href="" class="dropdown-item">Offers!</a>
            </div>
        </li>
    </ul>
</div>