<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% endblock %}
    {% block extra_meta %} {% endblock %}
    {% block corecss %}
    <script src="https://kit.fontawesome.com/371e1fc182.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/media/favicon.ico" type="image/x-icon">
    {% endblock %}
    {% block extra_css %}
    {% endblock %}
    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}
    {% block extra_js %} {% endblock %}

    <title>The Paw Society {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
      <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
          <a href="{% url 'home' %}" class="nav-link main-logo-link">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 165.8 70" style="enable-background:new 0 0 165.8 70;" xml:space="preserve">
            <g>
                <circle class="st0" cx="34.8" cy="35.1" r="31.7"/>
                <g>
                    <g>
                        <path class="st1" d="M37,12.2l0,11.4l-3.3,0l-0.6,0l-0.3,0.5l-3.6,6l-4.5-7l3.8-4.2l0.1-0.1l0-0.1l4.1-6.6H37 M38,11.2h-5.8
                            l-4.4,7L23.5,23l5.8,9l4.4-7.4l4.3,0L38,11.2L38,11.2z"/>
                    </g>
                    <g>
                        <path class="st1" d="M27.7,9.9l3.5,1.7l-2.6,4.1L27.7,9.9 M26.4,8.1L28,18.5l4.6-7.4L26.4,8.1L26.4,8.1z"/>
                    </g>
                    <g>
                        <path class="st1" d="M46.4,36.2l8,6.4v10.4l-1.1,1.8l-10.3,0L46.4,36.2 M45.8,34.4l-3.9,21.4l12.1,0l1.5-2.6V42.1L45.8,34.4
                            L45.8,34.4z"/>
                    </g>
                    <g>
                        <path class="st1" d="M59.8,38.4L56.3,48l-0.1-5.4L59.8,38.4 M62.7,33.7l-7.5,8.5l0.3,11L62.7,33.7L62.7,33.7z"/>
                    </g>
                    <g>
                        <path class="st1" d="M30.5,33l6.4,0l0.1,21.8l-0.5,0h-2.1L30.5,33 M29.3,32l4.3,23.6v0.2h2.9l1.5,0L38,32L29.3,32L29.3,32z"/>
                    </g>
                    <g>
                        <path class="st1" d="M42.9,12.2l4.1,6.6l0,0.1l0.1,0.1l3.9,4.2l-4.5,7l-3.6-6l-0.3-0.5l-0.6,0l-3.3,0l0-11.4H42.9 M43.5,11.2
                            h-5.8l0,13.4l4.3,0l4.4,7.4l5.7-9l-4.4-4.8L43.5,11.2L43.5,11.2z"/>
                    </g>
                    <g>
                        <path class="st1" d="M48,9.9l-0.9,5.9l-2.6-4.1L48,9.9 M49.3,8.1l-6.2,3.1l4.6,7.4L49.3,8.1L49.3,8.1z"/>
                    </g>
                    <g>
                        <path class="st1" d="M38.8,33l6.5,0.1l-4,21.7l-2,0l-0.3,0L38.8,33 M37.8,32L38,55.8l1.2,0h2.9v-0.2l4.3-23.4L37.8,32L37.8,32z"
                            />
                    </g>
                    <g>
                        <polygon class="st1" points="35.1,24.4 38,27.6 40.8,24.3 			"/>
                    </g>
                </g>
                <g>
                    <g>
                        <path class="st1" d="M22.1,31.9l1.8,2.9l0,0.1l0.1,0.1l1.6,1.7L24,38.9l-1.3-2.1l-0.3-0.5l-0.6,0l-1.1,0l0-4.4H22.1 M22.6,30.9
                            h-2.7l0,6.4l2.1,0l2.1,3.5l2.7-4.3l-2.1-2.3L22.6,30.9L22.6,30.9z"/>
                    </g>
                    <g>
                        <path class="st1" d="M24.1,31.2l-0.1,0.4l-0.2-0.3L24.1,31.2 M25.4,29.5l-2.9,1.4l2.2,3.5L25.4,29.5L25.4,29.5z"/>
                    </g>
                    <g>
                        <path class="st1" d="M15.5,43.8l1.3,7.3l-4,0l-0.3-0.5v-4.5L15.5,43.8 M16.2,41.9l-4.6,3.7v5.3l0.7,1.2l5.7,0L16.2,41.9
                            L16.2,41.9z"/>
                    </g>
                    <g>
                        <polygon class="st1" points="8.2,41.6 11.8,51.1 11.8,45.6 8.2,41.6 			"/>
                    </g>
                    <g>
                        <path class="st1" d="M22.8,41.8l-1.7,9.3l-0.3,0l0-9.3L22.8,41.8 M24,40.8l-4.1,0l-0.1,11.3l0.7,0H22V52L24,40.8L24,40.8z"/>
                    </g>
                    <g>
                        <path class="st1" d="M19,31.9l0,4.4l-1.1,0l-0.6,0l-0.3,0.5l-1.3,2.1l-1.4-2.3l1.6-1.7l0.1-0.1l0-0.1l1.8-2.9H19 M20,30.9h-2.7
                            l-2.1,3.3l-2.1,2.3l2.7,4.3l2.1-3.5l2.1,0L20,30.9L20,30.9z"/>
                    </g>
                    <g>
                        <path class="st1" d="M15.8,31.2l0.2,0.1l-0.2,0.3L15.8,31.2 M14.5,29.5l0.7,4.9l2.2-3.5L14.5,29.5L14.5,29.5z"/>
                    </g>
                    <g>
                        <path class="st1" d="M19,41.8l-0.1,9.3h-0.1l-1.7-9.2L19,41.8 M20,40.8l-4.1,0.1l2,11.1v0.1h1.4l0.6,0L20,40.8L20,40.8z"/>
                    </g>
                    <g>
                        <polygon class="st1" points="21.3,37.2 19.9,38.7 18.5,37.2 			"/>
                    </g>
                </g>
            </g>
            <g>
                <g>
                    <path class="st0" d="M71.6,64.8l1.1-1.3c1.3,1.3,2.8,2.1,4.9,2.1c2.3,0,3.5-1.3,3.5-2.6c0-1.6-1.4-2.2-4-2.8
                        c-3-0.7-4.9-1.6-4.9-4.2c0-2.4,2.1-4.2,5-4.2c2.2,0,3.9,0.9,5.2,2.1l-1,1.3c-1.2-1.2-2.7-1.9-4.3-1.9c-1.8,0-3.2,1.2-3.2,2.6
                        c0,1.5,1.5,2.1,4,2.7c2.8,0.7,4.9,1.7,4.9,4.3c0,2.4-1.8,4.3-5.2,4.3C75.1,67.1,73.1,66.3,71.6,64.8z"/>
                    <path class="st0" d="M84.4,59.5c0-4.2,3.5-7.7,7.6-7.7c4.1,0,7.6,3.5,7.6,7.7c0,4.2-3.5,7.7-7.6,7.7
                        C87.9,67.2,84.4,63.6,84.4,59.5z M98,59.5c0-3.3-2.7-6.1-5.9-6.1c-3.2,0-5.9,2.8-5.9,6.1c0,3.3,2.7,6.2,5.9,6.2
                        C95.3,65.6,98,62.8,98,59.5z"/>
                    <path class="st0" d="M101.5,59.5c0-4.2,3.5-7.7,7.6-7.7c2.1,0,4,0.9,5.4,2.3l-1.1,1.2c-1.1-1.1-2.6-1.9-4.2-1.9
                        c-3.2,0-5.9,2.8-5.9,6.1c0,3.3,2.7,6.2,5.9,6.2c1.6,0,3.1-0.7,4.2-1.9l1.1,1.2c-1.4,1.4-3.3,2.3-5.4,2.3
                        C105,67.2,101.5,63.6,101.5,59.5z"/>
                    <path class="st0" d="M116.5,52h1.7v14.9h-1.7V52z"/>
                    <path class="st0" d="M123.3,53.6v4.9h8.1v1.6h-8.1v5.2h9v1.6h-10.7V52h10.7v1.6H123.3z"/>
                    <path class="st0" d="M139,53.6h-5V52h11.7v1.6h-5v13.3H139V53.6z"/>
                    <path class="st0" d="M153.1,60.8l-6-8.8h2.1l4.8,7.2l4.8-7.2h2l-6,8.8v6.1h-1.8V60.8z"/>
                </g>
                <g>
                    <path class="st0" d="M74.7,3.9h-2.8V3h6.6v0.9h-2.8v7.5h-1V3.9z"/>
                    <path class="st0" d="M86.8,3v8.4h-1V7.6h-4.9v3.8h-1V3h1v3.7h4.9V3H86.8z"/>
                    <path class="st0" d="M89.7,3.9v2.8h4.6v0.9h-4.6v2.9h5.1v0.9h-6V3h6v0.9H89.7z"/>
                </g>
                <g>
                    <path class="st0" d="M71.7,16.6h12.1c6.2,0,11,3.9,11,9.5c0,5.6-4.8,9.5-11,9.5h-8.7v10.7h-3.4V16.6z M83.2,32.5
                        c4.9,0,8.2-2.3,8.2-6.3c0-4-3.3-6.3-8.2-6.3h-8.1v12.7H83.2z"/>
                    <path class="st0" d="M114.4,39.7H97.8l-3,6.8h-3.7l13.1-29.8h3.7l13.1,29.8h-3.7L114.4,39.7z M113,36.5l-6.9-15.7l-6.9,15.7H113z"
                        />
                    <path class="st0" d="M117.3,16.6h3.8l8.2,24.1l7.9-24.1h3.8l7.9,24.1l8.2-24.1h3.8l-10.2,29.8h-3.3l-8.3-25.4l-8.3,25.4h-3.3
                        L117.3,16.6z"/>
                </g>
            </g>
            </svg>
          </a>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <!-- url for html file and no shop app  -->
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                <!-- name q is for query  -->
                    <input type="text" name="q" class="form-control border border-black rounded-0" placeholder="Search our services!">
                    <div class="input-group-append">
                        <button class="form-control btn paw-color border border-black rounded-0" type="submit">
                            <span class="icon text-white"><i class="fas fa-search"></i></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item dropdown">
                    <a href="#" class="text-black nav-link" id="user-page" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <div><i class="fas fa-user fa-lg"></i></div>
                        <p class="my-0">Paw profile</p>
                    </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-page">
                        {% if request.user.is_authenticated %}
                           {% if request.user.is_superuser %}
                           <a href="" class="dropdown-item">Paw Management</a>
                           {% endif %}
                           <a href="#" class="dropdown-item">Your Paw Profile</a>
                           <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                           {% else %}
                           <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                           <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="list-inline-item">
                <a href="{% url 'view_bag' %}" class="{% if grand_total %}text-info font-weight-bold{% endif %} text-black nav-link">
                <div class="text-center">
                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                <p class="my-0">
                {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                {% else %}
                    €0.00
                   {% endif %} 
                </p>
                </div>
                </a>
                </li>
            </ul>
        </div>
      </div>
      <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-navbar.html' %}
        </nav>
      </div>
      <div id="delivery-banner" class="row text-center">
          <div class="col paw-color text-white">
              <h4 class="logo-font my-1 text-white">Free quick trim when you spend €{{ free_trim_treshold }} in our shop!</h4>
          </div>
      </div>
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %} {% block page_header %} {% endblock %}
    {% block content %}
    {%endblock %}
    {% block postloadjs %}
    {% endblock %}
  </body>
</html>
